@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(62, 62, 62);
    min-height: 100vh;

}

.refresh {
    color: rgb(53, 219, 78);
    font-size: 4rem;
    font-family: 'Roboto';
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-top: auto;
    text-shadow: 3px 3px 4px black;
}





.dices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;

}

.dice1 h6 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Baloo 2', cursive;
    padding: 3rem;
    text-shadow: 3px 3px 4px black;
}

.dice2 h6 {
    text-align: center;
    text-shadow: 3px 3px 4px black;
    font-size: 30px;
    color: white;
    font-family: 'Baloo 2', cursive;
    padding: 3rem;

}
.playbtn{
    display: flex;
    justify-content: center;
}

.playbtn button {
    position: absolute;
    margin: 1em;
    font-size: 1.8em;
    width: 4.5em;
    padding: 0.6em;
    background: #a80909;
    border: none;
    border-bottom: 8px solid #710707;
    border-left: 4px solid #710707;
    border-right: 4px solid #710707;
    outline: none;
    box-shadow: 1px 1px 8px #000;
    color: #ffffff;
    font-weight: bold;
    user-select: none;
}

.playbtn button:active {
    border-bottom: none;
    margin-top: calc(1em + 8px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-shadow: none;
}